################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LSGDEngine/.vs/LSGDEngine/v15/ipch
/LSGDEngine/.vs/LSGDEngine/v15/Browse.VC.db
/LSGDEngine/.vs/LSGDEngine/v15/Browse.VC.opendb
/LSGDEngine/.vs/config
/LSGDEngine/Memory/x64/Debug
/LSGDEngine/x64/Debug
