################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LSGDEngine/.vs/LSGDEngine/v15/ipch
/LSGDEngine/.vs/LSGDEngine/v15/Browse.VC.db
/LSGDEngine/.vs/LSGDEngine/v15/Browse.VC.opendb
/LSGDEngine/.vs/config
/LSGDEngine/Memory/x64/Debug
/LSGDEngine/x64/Debug
/LSGDEngine/Core/Debug
/LSGDEngine/GeneralUnitTest/Debug
/LSGDEngine/Memory/Debug
/LSGDEngine/.vs/LSGDEngine/v15/Solution.VC.db
/LSGDEngine/.vs/LSGDEngine/v15/Solution.VC.db-shm
/LSGDEngine/.vs/LSGDEngine/v15/Solution.VC.db-wal
/LSGDEngine/Engine/Debug
/LSGDEngine/SimpleGame/Debug
/LSGDEngine/Core/x64/Debug
/LSGDEngine/Engine/x64/Debug
/LSGDEngine/SimpleGame/x64/Debug
/LSGDEngine/SimpleGame/SimpleGame.exe
/LSGDEngine/.vs/LSGDEngine/v16
/LSGDEngine/MMO_TcpFighter/x64/Debug
/LSGDEngine/.vs/LSGDEngine/config
/LSGDEngine/MasterServer/x64/Debug
/LSGDEngine/MatchMakingServer/x64/Debug
/LSGDEngine/BattleServer/x64/Debug
/LSGDEngine/x64/Temp
/LSGDEngine/x64/ThirdParty/d3d
